*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
ul,ol{list-style: none;}
body{background: #eee;}
.globalHeader{
    width: 100%;
}
.globalHeader .logo{
    max-width: 100%;
    min-width: 200px;
    width: 100%;
    text-align: center;
    
}
.globalHeader .logo>img{
    width: 50%;
    margin: 20px;
    max-width: 250px;
}
.globalHeader .search{
    text-align: center;
    max-width: 400px;
    min-width: 200px;
    margin: 0 auto;

}
@media (min-width:500px){
    .globalHeader .search{
        max-width: 500px;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom:30px;
    }
}
.globalHeader .searchForm{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
.searchForm input{
    width: 100%;
    height: 56px;
    border-radius: 50px;
    border: 1px solid #ddd;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 60px;
    outline:none;
}

.searchForm .searchButton{
    background: white;
    padding: 5px;
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-size: 100% 100%;
    border:1px solid #ddd;
    border-radius: 50%;
    right:6px;
    margin-top: 5px;
    box-shadow:inset 0 0 3px 1px #ddd; 
    cursor: pointer;
}
.searchButton > .icon{
    width: 100%;
    height: 100%;
}
.globalMain{
   display: flex;
   justify-content: space-between;
}
@media (min-width:500px){
    .globalMain{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
.site{
    width: 160px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 21px;
    position: relative;
    cursor: pointer;
}
.site .close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
    cursor: default;
}
.site:hover > .close{
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
}
@font-face{
    font-family:'Roboto';
    src:url(../font/Roboto-Regular-14.ttf);
}
.siteList{
   
}
@media (min-width:500px){
    .siteList{
     
    }
}
.site .initial{
    width: 64px;
    height: 64px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    font-family: "Roboto";
    text-transform: uppercase;
}
.site .link{
    margin-top: 12px;
    font-family: "Roboto";
   
}
.globalMain > ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
@media (min-width:500px){
    .globalMain > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: -25px;
        outline: solid red 1px;
        padding: 0 0px;
    }
}
.globalMain > ul > li{
    margin-bottom: 15px;
}
@media (min-width:500px){
    .globalMain .site{
        margin-right: 25px;
        margin-bottom: 15px;  
    }
}
.globalMain{
    padding-top: 14px;
}
.addButton{
    width: 159px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
}
.addButton > .iconWrapper {

    margin-bottom: 14px;
    margin-top: 22px;
    
}
.iconWrapper >.icon{
    width: 66px;
    height: 66px;
}
a{
    text-decoration: none;
    color: black;
}