*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
ul,ol{list-style: none;}
body{background: #eee;}
.globalHeader{
    width: 100%;
}
.globalHeader .logo{
    max-width: 100%;
    width: 100%;
    text-align: center;
    
}
.globalHeader .logo>img{
    width: 50%;
    margin: 20px;
    
}
.globalHeader .search{
 
}
.search{
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}
.searchForm input{
    width: 322px;
    height: 56px;
    border-radius: 50px;
    border: 1px solid #ddd;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 60px;
}
.search{
    position: relative;
}
.search  .searchButton{
    background: white;
    padding: 5px;
    position: absolute;
    display: inline-block;
    width: 46px;
    height: 46px;
    background-size: 100% 100%;
    border:1px solid #ddd;
    border-radius: 50%;
    left:50%;
    transform: translateX(110px);
    margin-top: 5px;
    box-shadow:inset 0 0 3px 1px #ddd; 
}
.searchButton > .icon{
    width: 100%;
    height: 100%;
}
.site{
    width: 159px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 21px;
    position: relative;
}
.site .close{
    position: absolute;
    top: 5px;
    right: 5px;
}
@font-face{
    font-family:'Roboto';
    src:url(../font/Roboto-Regular-14.ttf);
}
.siteList{
   
}
.site .initial{
    width: 64px;
    height: 64px;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
    font-family: "Roboto";
    text-transform: uppercase;
}
.site .link{
    margin-top: 12px;
    font-family: "Roboto";
   
}
.globalMain > ul{
    display: flex;
    flex-wrap: wrap;
    
}
.globalMain > ul > li{
    margin-left: 19px;
    margin-bottom: 14px;
}
.globalMain{
    padding-top: 14px;
}
.addButton{
    width: 159px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
}
.addButton > .iconWrapper {

    margin-bottom: 14px;
    margin-top: 22px;
    
}
.iconWrapper >.icon{
    width: 66px;
    height: 66px;
}
a{
    text-decoration: none;
    color: black;
}